@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.nav_container {
  flex: 1;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
}

span {
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
  text-align: center;
}

.web__nav__menu {
  display: none;
  gap: 24px;
}

.head__filltext {
  width: 100%;
  padding: 18px 31px;
}

.head__filltext p {
  /* margin: auto; */
  color: #1d1d1f;
  font-family: "Inter";
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  font-weight: 400;
  /* align-items: baseline; */
}

.hero__image,
.prod__image,
.big__ipad__image,
.small__ipad__image {
  width: 100%;
  height: 500px;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  /* position: relative; */
  /* padding-bottom: 36px; */
}
/* .hero__background__iphone_pro {
  position: absolute;
  z-index: -10;
} */

.hero__text {
  /* width: 241px; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;

  /* height: 114px; */
}

.hero__button,
.prod__button {
  /* width: 241px; */
  width: 100%;
  /* height: 36px; */
  display: flex;
  gap: 12px;
  flex-direction: row;
  justify-content: center;
}

h3,
.prod__h3 {
  font-family: "Inter";
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #f5f5f7;
}
.h3-black {
  color: #1d1d1f;
}

.font18px-white {
  font-family: "Inter";
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #f5f5f7;
}
.font18px-black {
  font-family: "Inter";
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #1d1d1f;
}
.flex-gap4px {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.font28px-black {
  font-family: "Inter";
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
  color: #000000;
}

.apple-logo,
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

/* /////////////////////////  iPhone Pro /////////////////////// */

.hero__iphone_pro {
  background-image: url(./images/pro.png);
}
/* .hero__background__iphone_pro {
  position: absolute;
  z-index: -10;
} */
.hero__iphone_pro__text {
  margin-top: 350px;
}

/* //////////////////////// iPhone //////////////////////////// */
.hero__iphone {
  background-image: url(./images/iphone16.png);
}
/* .hero__background__iphone {
  position: absolute;
  z-index: -9;
} 
.hero__iphone {
  padding-bottom: 350px;
} */

.hero__iphone__text {
  margin-top: 36px;
}

.hero__iphone__title {
  /* height: 62px; */
  /* margin-bottom: 16px; */
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.hero__iphone__title p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #f5f5f7;
}

/* ///////////////////////// iPad /////////////////////////// */
.small__ipad__image {
  display: none;
}
.hero__ipad {
  background-image: url(./images/ipad-air.png);
  padding: 36px 0px;
}
/* .hero__background__ipad {
  position: absolute;
  z-index: -8;
} */
.hero__ipad__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero__ipad__header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.hero__ipad__title {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 9px;
}
.hero__ipad__title p {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.ipad__footer__text p {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  /* margin: 273px 0px 0px 36px; */
  /* width: fit-content; */
  background: linear-gradient(90deg, #0090f7, #ba62fc, #f2416b, #f55600);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ////////////////////////// Gift ////////////////////////// */
.gift__image {
  width: 100%;
  height: 692px;
  background-position: center;
  display: none;
  justify-content: center;
  margin-bottom: 12px;
  background-image: url(./images/gift.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__gift__title p {
  font-family: "Inter";
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #1d1d1f;
}
.hero__gift__title {
  margin-top: 446px;
}

/* ////////////////////// Products /////////////////////// */

/* .products {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.prod__airpods {
  background-image: url(./images/airpods.png);
  padding: 292px 74px 0px 74px;
}
.prod__airpods__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.prod__airpods__text {
  /* width: fit-content;
  height: fit-content; */
  /* margin-top: 292px; */
}

.prod__iwatch {
  background-image: url(./images/watch.png);
}
.prod__iwatch__text {
  margin-top: 46px;
}
.prod__iwatch__series {
  font-family: "Inter";
  font-size: 13px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}
.prod__iwatch__highlights {
  font-family: "Inter";
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
}

.prod__macbook-air {
  background-image: url(./images/macbook-air.png);
}
.prod__macbook-air__text {
  margin-top: 42px;
}

.prod__small-business {
  background-image: url(./images/emoji.png);
  padding: 0px 66px;
}
.prod__small-busines__text {
  margin-top: 47px;
}

.prod__carrier {
  background-image: url(./images/carrier.png);
  padding: 0px 38px;
}
.prod__carrier__text {
  margin-top: 301px;
}
.prod__carrier__title p {
  padding: 0px 40px;
}

.prod__trade-in,
.prod__card {
  background-image: url(./images/tradein.png);
  padding-top: 51px;
}

.prod__trade-in__title p {
  padding: 0px 53px;
}

/* .hero__ipad__text { */
/* width: 100%; */
/* width: fit-content; */
/* height: 131px; */
/* margin-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* .ipad__title {
  justify-content: center;
} */

/* ////////////////////// Button /////////////////////// */
.btn__learn {
  width: 107px;
  height: 36px;
  font-family: "Inter";
  font-size: 14px;
  border-radius: 999px;
}

.btn__learn-blue {
  background-color: #2997ff;
  border: 1px solid #2997ff;
  color: white;
}

.btn__learn-white {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: black;
}

.btn__buy {
  width: 66px;
  height: 36px;
  background-color: transparent;
  font-family: "Inter";
  font-size: 14px;
  border-radius: 999px;
}

.btn__buy-blue {
  border: 1px solid #2997ff;
  color: #2997ff;
}

.btn__buy-white {
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btn__estimate {
  width: 150px;
  height: 36px;
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  border-radius: 999px;
}

.btn__deal {
  width: 126px;
  height: 36px;
  font-family: "Inter";
  font-size: 14px;
  line-height: 20px;
  border-radius: 999px;
}

.btn__gift {
  width: 114px;
  height: 44px;
  font-family: "Inter";
  font-size: 14px;
  border-radius: 999px;
}

/* .hero__airpods__text {
  width: 241px;
  height: 161px;
  margin-top: 292px;
  display: flex;
  flex-direction: column;
  gap: 16px;
} */

/* .prod__airpods__title p,
.prod__macbook-air__title p,
.prod__small-busines__title p {
  font-family: "Inter";
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #f5f5f7;
} */

/* .prod__carrier__title p,
.prod__trade-in__title p {
  font-family: "Inter";
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #1d1d1f;
  padding: 0px 40px;
  padding-left: 100px;
  padding-right: 100px;
} */

/* .prod__iwatch__text {
  margin-top: 36px;
} */

/* .prod__iwatch__title,
.prod__macbook-air__title,
.prod__small-busines__title,
.prod__trade-in__title {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 16px;
} */

/* .prod__iwatch__headtext,
.prod__trade-in__title h3 {
  font-family: "Inter";
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  text-align: center;
}

.prod__trade-in__title h3 {
  color: #000000;
} */

/* .prod__macbook-air__title h3,
.prod__macbook-air__title p,
.prod__small-busines__title p,
.prod__small-busines__title h3,
.prod__carrier__title h3 {
  color: #1d1d1f;
} */

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.movie__container__phone {
  display: flex;
  gap: 16px;
  overflow: scroll;
  margin-bottom: 16px;
}

.movie__container__tablet {
  display: none;
  gap: 16px;
  overflow: scroll;
  margin-bottom: 16px;
}

.dot-scroll {
  margin-left: 7px;
  margin-bottom: 26px;
}

.content_container {
  display: flex;
  flex-direction: column;
}
.show__container {
  display: flex;
  flex-direction: row;
  gap: 6px;
  overflow: visible;
  animation: tv_content 100s linear infinite;
}
@keyframes tv_content {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-55%);
  }
}

/* .show {
} */

@media only screen and (min-width: 768px) {
  .head__filltext {
    padding: 16px 162px;
  }

  .hero__image {
    height: 650px;
  }
  .prod__image {
    height: 490px;
  }

  .small__ipad__image {
    display: none;
  }

  h3 {
    font-size: 42px;
    line-height: 60px;
    font-weight: 600;
  }
  .prod_h3 {
    font-size: 30px;
    line-height: 20px;
    font-weight: 700;
  }
  .hero__button,
  .prod__button {
    gap: 16px;
  }
  .btn__learn {
    width: 107px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
  }
  .btn__buy {
    width: 66px;
    height: 36px;
    font-size: 14px;
    line-height: 20px;
  }

  .hero__iphone_pro {
    background-image: url(./images/tablet-pro.png);
  }
  .hero__iphone_pro__text {
    margin-top: 58px;
  }
  .hero__iphone__title p,
  .hero__ipad__title p {
    font-size: 22px;
    line-height: 32px;
  }

  .hero__iphone {
    background-image: url(./images/tablet-iphone.png);
  }
  .hero__iphone__text {
    margin-top: 58px;
  }
  .hero__ipad {
    background-image: url(./images/tablet-pad.png);
    padding: 58px 0px 62px 0px;
  }
  .ipad__footer__text p {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
  }

  /* /////////////////////////////////////////////////////// */
  .products {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px;
  }
  .prod__image {
    width: 49%;
    margin-bottom: 0px;
  }
  .prod__airpods {
    padding-top: 292px;
  }
  .prod__small-business {
    padding: 0px 55px;
  }
  .prod__carrier {
    padding: 0px 26px;
  }

  /* //////////////////////////////////////////////////// */

  .movie__container__phone {
    display: none;
  }

  .movie__container__tablet {
    display: flex;
  }
}

@media only screen and (min-width: 1024px) {
  .nav_container {
    height: 44px;
    justify-content: center;
    gap: 24px;
  }
  .nav__menu {
    display: none;
  }
  /* .nav_container {
    flex: 1;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(245, 245, 247, 0.8);
  }
   */
  .web__nav__menu {
    display: flex;
  }
  .head__filltext {
    padding: 16px 162px;
  }
  h3 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 600;
  }
  .prod__h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    color: #f5f5f7;
  }
  .hero__iphone__title p {
    font-size: 24px;
  }
  .hero__image {
    height: 692px;
  }
  .prod__image {
    height: 580px;
  }
  /* .hero_gift {
    display: flex;
    background-image: url(./images/gift.png);
  } */
  .hero__ipad {
    display: none;
  }
  .gift__image {
    display: flex;
  }
  .big__ipad__image {
    display: none;
    /* height: 490px; */
  }
  .small__ipad__image {
    background-image: url(./images/ipad-desktop.png);
    width: 49%;
    margin-bottom: 0px;
    display: flex;
    padding-top: 58px;
    padding-bottom: 53px;
  }
  .ipad__title {
    height: 33px;
  }
  .hero__ipad__title p {
    font-family: "inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
  }
  .btn__learn {
    width: 115px;
    height: 40px;
    font-size: 16px;
  }
  .btn__buy {
    width: 68px;
    height: 40px;
    font-size: 16px;
  }
  .btn__estimate {
    width: 167px;
    height: 40px;
    font-size: 16px;
  }

  .prod__airpods {
    background-image: url(./images/airpod-pro.png);
    padding: 401px 0px 58px 0px;
  }
  .prod__airpods__title {
    gap: 2px;
  }
  .font18px-white {
    line-height: 25px;
  }
  .font18px-black {
    line-height: 25px;
  }
  .span {
    display: none;
  }
  .prod__airpods__title p::after {
    content: "Now with a Hearing Aid feature.2";
  }
  .hero__ipad__title p {
    color: white;
  }
  .prod__iwatch {
    background-image: url(./images/watchs.png);
  }
  .prod__iwatch__headtext {
    font-size: 32px;
    line-height: 38px;
  }
  .prod__iwatch__series {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 2;
  }
  .prod__macbook-air {
    background-image: url(./images/macbook-desktop.png);
  }
  .prod__macbook-air__title h3 {
    color: #000000;
  }
  .prod__small-business,
  .prod__carrier {
    display: none;
  }
  .btn__apply {
    width: 112px;
    height: 40px;
    font-family: "Inter";
    font-size: 16px;
    line-height: 20px;
    border-radius: 999px;
  }

  .prod__card {
    background-image: url(./images/card);
  }

  .apple-logo h3,
  .card h3 {
    color: #1d1d1f;
  }
}
